[2015-10-22 08:54] VictorBjelkholm opened #1 "Can't install "sh.IsUp undefined""
Log:

[code]

[2015-10-22 17:13] whyrusleeping commented on #1
Sorry about that! forgot to push the dependency update, do:
[code]

'go get' wont update dependencies for you unfortunately

[2015-10-22 21:15] VictorBjelkholm commented on #1
Ah, that is working as a workaround

[2015-10-23 04:21] #1 closed

[2015-10-29 14:51] rht opened #3 "Will this include https://github.com/ipfs/fs-repo-migrations ?"

[2015-10-29 19:02] whyrusleeping commented on #3
I'm not quite sure how that flow is going to work yet. I think that the fs-repo-migrations could be fetched by this program, but they should be run by the user when starting their new ipfs daemon.

We want the migrations to happen automatically when you start the new version, unlike previously, where the user had to run it themselves.

[2015-11-01 22:10] jbenet commented on #3
thanks for bringing this up @rht! @whyrusleeping and i discussed this in a hangout and we concluded that:

1. ipfs-update will run the fs-repo migration tool, both up, and down. will go up automatically, but will prompt before going down.
2. go-ipfs itself will not run the fs-repo migration tool automatically, but will prompt the user to do so if detecting mismatch, alerting of a version differenc

[2015-11-02 01:52] whyrusleeping commented on #3
thats pretty much what i'm thinking too

[2015-11-30 11:01] jbenet opened #4 "Code Review up to now"
## Tested it out-- seems to work! :+1:

- nice command help
- minor testing, seems to work well :+1:  :fireworks: :clap:
- clear output tells the user what's going on
- nice reverting ([with interactive select!](https://38.media.tumblr.com/947ceaa2cef127f0481b388f8d9a9551/tumblr_mvq95tg9Kj1snx6rjo2_400.gif)) :sunglasses:
- nice `ipfs-update versions` output

![](https://ipfs.io/ipfs/QmRfndgFK4XWHu

[2015-12-01 01:02] jbenet commented on #4
any ideas on how to test this stuff? maybe a sharness suite that upgrades through all the versions runs tests on each version, does stuff and then verifies everything is still fine? like have some workloads (mix of adding + pinning/unpinning + gcing  a lot of things) and then have the expected output, upgrade through and check everything is still the same. particularly important with the pinset ch

[2015-12-01 01:39] whyrusleeping commented on #4
I'm trying to differentiate between 'output' and 'logs', Printf and friends are used for program output (i.e. `ipfs-update version > myversion`)

[2015-12-01 22:29] whyrusleeping commented on #4
Fortunately this doesnt need to be a 'recommended' upgrade path until 0.4.0, we can ship 0.3.10 and still not "recommend" it as the primary upgrade path.

[2015-12-02 13:43] jbenet commented on #4
@whyrusleeping ok sounds good. we'll need thorough testing by 0.4.0 though

[2015-12-04 02:19] whyrusleeping commented on #4
@jbenet agreed. I'm hoping @chriscool has good ideas on testing this nicely, theres a good number of moving parts involved.

[2015-12-04 06:51] chriscool commented on #4
Ok, I will have a look at testing it soon...

[2015-12-04 07:31] whyrusleeping commented on #4
youre the bestest ever

[2015-12-04 22:19] chriscool commented on #4
@whyrusleeping thanks!

Please take a look: https://github.com/ipfs/ipfs-update/pull/5

[2015-12-11 20:38] chriscool opened #7 "Timeouts with v0.3.8 and v0.3.7"
I get:

[code]

So basically I can only write tests using v0.3.9.

[2015-12-11 20:51] whyrusleeping commented on #7
0.3.10 hasnt been pushed out to the distributions yet (ipfs update pulls from a build of 'dist.ipfs.io'). The other ones should be back up now, I thought I had them pinned, but it seems i was wrong.

[2015-12-11 21:44] chriscool commented on #7
Great, thanks!

[2015-12-12 11:09] chriscool commented on #7
And what about 0.4.0 by the way?

[2015-12-12 11:48] jbenet commented on #7
getting `Path Resolve error: context deadline exceeded` is so painful for users. it's like ["wat?"](https://s-media-cache-ak0.pinimg.com/736x/30/b1/6e/30b16eaa7d85f22dbe976c70fe6d4ec2.jpg)

[2015-12-12 14:29] chriscool commented on #7
Yeah I still get that too for v0.3.7:

[code]

But it's working for v0.3.8:

[code]

[2015-12-12 14:39] chriscool commented on #7
Also installing the same version twice fails:

[code]

[2015-12-12 14:50] chriscool commented on #7
Actually I also get the above when installing v0.3.8 when v0.3.9 is already installed.

[2015-12-12 14:59] chriscool opened #8 "Installing a version when one is already installed failed"
This is also described in issue #7:

[code]

It also fails in the same way when installing v0.3.8 after v0.3.9.

[2015-12-12 17:04] whyrusleeping commented on #8
interesting. is this in a test?

[2015-12-12 17:15] chriscool commented on #8
Yes, I was trying to write more install tests, see PR #9.

[2015-12-14 09:11] #8 closed

[2015-12-16 07:27] jbenet opened #11 "own domain or under refs.ipfs.io?"
Saw there's a domain setup for `update.ipfs.io` -- cool!

Though I think this probably should be housed at `refs.ipfs.io` with other things -- thoughts? Intuition here is that it will be easier to keep track of everything if it is in one single repo, rather than a bunch of domains that we will have to account separately.

[2015-12-16 07:29] jbenet commented on #11
Or, actually, nevermind. it's not just a ref, it's also the site. Should this be then:

- distributions.ipfs.io
- dist.ipfs.io
- releases.ipfs.io
- downloads.ipfs.io
- ipfs.io/downloads
- ipfs.io/dl
- ipfs.io/releases
- ipfs.io/dist
- ipfs.io/distributions

cc @lgierth @Dignifiedquire \o for input

[2015-12-16 07:31] jbenet commented on #11
Moved to https://github.com/ipfs/distributions/issues/20

[2015-12-16 07:31] #11 closed

[2015-12-16 07:52] jbenet commented on #7
I have a new distributions root:

- /ipfs/QmeEVmRTDX2c9zjPtjHJG6GidrFL7NjqEqP1Q4am6sLfif
- see it: https://ipfs.io/ipfs/QmeEVmRTDX2c9zjPtjHJG6GidrFL7NjqEqP1Q4am6sLfif
- includes `0.3.10` and `0.4.0-dev`: https://ipfs.io/ipfs/QmeEVmRTDX2c9zjPtjHJG6GidrFL7NjqEqP1Q4am6sLfif/go-ipfs
- it has not been published to `update.ipfs.io` so this tool wont find it yet -- track https://github.com/ipfs/infrastru

[2015-12-16 08:52] harlantwood commented on #7
When I click on changelog ( https://ipfs.io/ipfs/QmeEVmRTDX2c9zjPtjHJG6GidrFL7NjqEqP1Q4am6sLfif/go-ipfs/v0.3.10/changelog )

I get `Path Resolve error: no link named "changelog" under QmRU3WnKuzyEbyEd7Y8L4Lfhh7sWX68axtqJTkgpc9k3um`

[2015-12-16 09:35] whyrusleeping commented on #7
@jbenet did you pin that hash?

[2015-12-16 10:20] jbenet commented on #7
There's no changelog in that dir:
https://ipfs.io/ipfs/QmeEVmRTDX2c9zjPtjHJG6GidrFL7NjqEqP1Q4am6sLfif/go-ipfs/v0.3.10/
we may not be collecting the changelog yet! -- bug for distributions.ipfs.io

On Wed, Dec 16, 2015 at 4:35 AM Jeromy Johnson <notifications@github.com>
wrote:

[2015-12-17 10:39] jbenet opened #13 "fetch says install"
[code]

if `fetch != install` it shouldn't claim it is installing it.

[2015-12-17 10:41] jbenet opened #14 "incorrect maximum storage notice?"
[code]

nope

[2015-12-21 19:55] whyrusleeping commented on #14
i'm not sure whats causing this... all that command does is run a smart ipfs-get. If anything is wrong, its something to do with your local node/repo

[2015-12-22 16:06] #13 closed

[2015-12-28 19:19] #3 closed

[2015-12-28 19:19] #4 closed

[2015-12-28 19:20] #7 closed

[2016-02-05 09:19] jbenet opened #17 "download package does not include an install.sh nor README"
it must, else most users dont know what to do! let's take UX seriously.

[2016-02-05 09:20] jbenet opened #18 "`ipfs-update install latest` installs v0.4.0-dev"
`latest` should be the latest _release_. It should never install development versions.

[2016-02-05 09:23] jbenet opened #19 "should install to system bin, not go"
this should install to a system bin path, like `/usr/bin` or `/usr/local/bin`, depending on what the user's `$PATH` looks like (it may not have a `/usr/local/bin`).

[code]

I should not have to have go installed or configured to make this work.

[2016-02-05 09:25] jbenet opened #20 "does not have v0.3.11"

[2016-02-05 09:25] jbenet opened #21 "progress bar for download"
in bad connections, unclear if this program just hangs.

[2016-02-08 17:53] whyrusleeping commented on #19
it overwrites your currently installed go binary. If you have a `GOPATH` set, it uses that. Otherwise it will use `/usr/local/bin`

[2016-02-08 17:53] whyrusleeping commented on #17
this and #20 will be fixed once i push the update to use dist.ipfs.io

[2016-02-11 15:55] RichardLitt opened #23 "Unable to use"
I am unable to get this working. I tried by installing it from dist.ipfs.io, then I tried using `go get`. I wasn't able to get the file working. What am I missing?

[code]

[2016-02-19 19:56] bergie opened #25 "Fails with "multihash length inconsistent""
Running ipfs version 0.3.9-dev. ipfs-update installed via `go get -u github.com/ipfs/ipfs-update`

[code]

[code]

[2016-02-19 20:13] bergie commented on #25
It _seems_ to work with ipfs 0.3.11, though right now things are hanging. But that could be just bad WiFi.

[2016-02-22 01:07] lgierth opened #26 "Binary name conflict with FreeBSD's ipfs tool"
FreeBSD has a command called ipfs which is part of the firewall tooling: http://www.unix.com/man-page/FreeBSD/8/ipfs/
That's also why the port is called *ipfs-go*.

ipfs-update needs to take this into account.

cc @Aranjedeath

[2016-03-22 20:08] jbenet opened #28 "License?"
this needs a license

[2016-03-28 19:30] darkstar opened #29 "ipfs-update fails to update ipfs to 0.4.0-dev"
Here's the transcript

[code]

I would be happy with just wiping and re-initializing/re-installing ipfs, but I have no idea where all those go-files and the other stuff is stored. I'm considering `rm -rf /var/lib/go` (since I have no other programs that use go) but I'm not sure if that'll break my whole installation

Any advice?

[2016-04-11 06:13] jbenet opened #31 "version number error"
forgot to increment version number: https://github.com/ipfs/ipfs-update/blob/master/config/config.go#L7

need a release checklist or something.

[2016-04-21 03:33] DanielKeep opened #32 "ipfs-update doesn't work on Windows"
I just tried to use ipfs-update to install v0.4.0, and this is what I got:

[code]

I checked, and the indicated `ipfs-new` file exists.  It looks like the problem is that it's trying to execute it, but it's doing it in a way that doesn't work unless the file has an `.exe` extension.

(This is doubly frustrating because I already _have_ 0.4.0; it's just that I want to migrate my current settings,

[2016-04-21 19:34] whyrusleeping commented on #32
Thanks for the report, we don't test on windows as much as we should.

Since you already have 0.4.0 and you just want to update to the latest release version, a workaround it to go to http://dist.ipfs.io (or since we don't have an https cert for that domain: https://ipfs.io/ipns/dist.ipfs.io ) and download the latest go-ipfs release from there.

[2016-04-22 03:06] DanielKeep commented on #32
I already had the actual ipfs binary, but didn't realise fs-repo-migrations was a thing.  All appears to be working now (I mean, aside from ipfs-update :P)

[2016-06-29 03:26] randoms opened #37 "Path Resolve error: no link named "go-ipfs_v0.4.2_linux-amd64.zip""
I got the following error when trying to upgrade to v0.4.2.

[code]

I checked the dist page. It seems that the dist server not longer provides zip file.
![screenshot from 2016-06-29 11 24 07](https://cloud.githubusercontent.com/assets/3120090/16439530/0648d344-3dec-11e6-9225-6ed42b9dafac.png)

[2016-07-12 12:56] wscott opened #38 "Install of v0.4.3-dev fails: "invalid ipfs ref path""
I am currently running v0.4.2 installed via the ipfs-update tool and installed in `$HOME/gocode/bin/ipfs`.

I run `ipfs daemon` in one window and then in another window run this:

[code]

Works fine, but shouldn't have actually changed anything.  Just including that to demonstrate that it works.  Hit ^C in daemon window and wait for it to shutdown and then started it again.  Next I run this:

[cod

[2016-07-27 14:16] zQueal opened #39 "Windows Issues"
Update flow on Windows is pretty broken.

Running `ipfs update install v0.4.3-rc1` yields;

[code]

Upon inspecting the folder, there is a zip with the new version in it. So I manually dropped it in my path. Come to find, however, that it's actually `0.4.3-dev` and not `v0.4.3-rc1` which is weird.

Running `ipfs daemon` after the "update" failed as well;

[code]

From here I couldn't get the migra

[2016-07-27 14:17] zQueal commented on #29
I just experienced this. Seems like the `fs-repo-migrations` binary was not in my path and therefore `ipfs-update` was unable to use it for the actual migrations.

[2016-07-27 14:20] zQueal commented on #32
I've also run into this;

    λ ipfs-update install "v0.4.3-rc1"
    fetching go-ipfs version v0.4.3-rc1
    binary downloaded, verifying...
    install failed, reverting changes...
    ERROR: error initializing with new binary: exec: "C:\\Users\\zqueal\\AppData\\Local\\Temp\\ipfs-update141156367\\ipfs-new": file does not exist:

[2016-07-27 18:38] whyrusleeping commented on #29
@zQueal were you using a newer version of `ipfs-update`? it should automagically download fs-repo-migrations and use it from the dists page.

[2016-07-27 22:04] zQueal commented on #29
I believe I was--or at least I grabbed the default version from [dist.ipfs.io](https://ipfs.io/ipns/dist.ipfs.io/#ipfs-update).

[2016-08-03 01:53] jbenet opened #40 "Install Failed. ERROR: Post"
[code]

I have:
- a daemon running (0.4.2)
- want to upgrade to 0.4.3-rc1

problem:
- the error above is not indicative of the problem, or helpful
- the error above leaves me at a loss of what to do.
- not clear why it failed.

[2016-08-03 01:55] jbenet commented on #40
More:

[code]

[2016-08-29 23:29] jbenet opened #41 "Friendlier output"
We could probably make this output more friendly:

[code]

Perhaps something like

[code]

[2016-08-29 23:30] jbenet commented on #41
not a ton better yet, but a bit :)

[2016-08-30 13:06] RichardLitt commented on #41
Could we have a flag for verbose output?

[2016-09-18 00:09] jbenet opened #43 "Don't use ~/go/bin"
So apparently this tool installs `ipfs` into $GOPATH/bin. this tool is meant for people _without_ go. this should use some other standard bin location.

[2016-09-18 10:16] whyrusleeping commented on #43
@jbenet it uses that path *if* it exists.

[2016-09-18 23:58] jbenet commented on #43
Ah, now I understand how it works: it uses $(which ipfs) -- fine.

Closed. (Seeing if github will answer cmds by mail)
On Sun, Sep 18, 2016 at 6:16 PM Jeromy Johnson <notifications@github.com>
wrote:

[2016-09-23 19:14] ShariqT commented on #23
You have to add the ipfs-update to your PATH. Mine came with an install.sh script. If yours did as well, run that and then run ipfs-update --help

[2016-09-23 19:15] ShariqT commented on #21
This is a good idea. I *think* this is working because it says, "using local ipfs daemon for transfer", but I don't see anything else after that.

[2016-09-23 19:37] RichardLitt commented on #23
You're right. Ran the install script, don't know why I didn't see it before. Thanks!

[2016-09-23 19:37] #23 closed

[2016-10-11 20:08] RichardLitt commented on #28
Going to give it MIT.

[2016-10-11 20:43] whyrusleeping commented on #28
This already has a license

[2016-10-11 20:43] #28 closed

[2016-10-11 20:46] RichardLitt commented on #28
<3 @whyrusleeping

[2016-10-12 14:32] brainstorm opened #45 "ipfs-update install floodsub2 broken?"
[code]

[2016-10-12 14:40] whyrusleeping commented on #45
Ah interesting, the assumption that we can prepend versions with 'v' isnt correct. Thanks for reporting

[2016-10-21 23:37] edsilv opened #46 "ipfs-update windows error"
[code]

`ipfs version` is 0.4.2

on windows 10 x64

[2016-11-13 06:25] RichardLitt opened #47 "Unable to update to v0.4.4"
I am having some issues updating this.

I wanted to update `go-ipfs`. So, I found out what version I had - `v0.4.2`. Then, I went to ipfs/go-ipfs, and looked at the update section. It told me to go to `ipfs-update`. I already have that installed, so I ran it. When I ran `$ ipfs-update versions`, it showed me up to `v0.4.2`. This, I think, means that I have those versions installed - but that would

[2016-11-14 09:52] hsanjuan commented on #47
Hummm, I would try to update ipfs-update ... it should show up to v0.4.4 even if it's not installed. Somehow it is getting the list of available versions from an old hash:

[code]

[2016-11-14 10:12] RichardLitt commented on #47
Is the only way to update ipfs-update to go to dist.ipfs.io? I've done that now, and confirmed that updating the newest ipfs-update seems to work. Updating ipfs-update to update ipfs seems like poor UX, though.

[2016-11-23 08:37] stadja commented on #47
I experience the same here:

[code]

[2016-11-25 17:12] Kuurusch opened #48 "unable to update to ipfs v0.4.5-pre1"
Hallo, I tried to update ipfs over ipfs-update (v1.4.0) but it sais, "version didnt match".
Did I miss something or is there a problem?

Thanks for help!

[2016-11-25 17:47] whyrusleeping commented on #48
This is because we didnt change the coded version on the ipfs binary. You might try passing `--no-check` to the install command. If that doesnt help i'll have to add some extra checks to be okay with pre-release versions

[2016-11-25 18:40] whyrusleeping commented on #48
@Kuurusch Could you try building ipfs-update from source (latest master) and see if it resolves the problem?

[2016-11-25 19:12] Kuurusch commented on #48
Ah thanks a lot, --no-check worked!

[2016-11-30 13:39] victorb opened #49 "`sync` feature"
Inspired by concourse's `fly` cli, a `sync` feature (https://concourse.ci/fly-sync.html) that once run against the API (in this case, a ipfs daemon API) would sync the version of the cli to match the version on the API.

[code]

[2016-11-30 13:39] #43 closed

[2016-12-01 15:11] VictorBjelkholm commented on #49
We could also print out a message to use `ipfs-update sync` if there is an error like what happen here: https://github.com/ipfs/go-ipfs/issues/3452

[2016-12-12 22:16] whyrusleeping commented on #45
This has been fixed, and a new version of ipfs-update has been released, with binaries available on dist.ipfs.io

https://dist.ipfs.io/#ipfs-update

[2016-12-12 22:16] #45 closed

[2016-12-12 22:22] machawk1 commented on #48
I ran into this same issue. ipfs-update "found" v0.4.5-pre1 after I updated ipfs-update via `go get -u github.com/ipfs/ipfs-update` then re-ran `ipfs-update install 0.4.5-pre1`.

[2016-12-20 09:13] mjrider opened #50 "ipfs-update fails installing with ERROR: version didnt match"
tried to install ipfs with the latest ipfs-update binary from dist.ipfs.io on a clean debian stable vm

Versions i tried:
- v0.4.1
- v0.4.2
- v0.4.3
- v0.4.5-pre1
- v0.4.4

all result in the same error:
[code]

if i run the last command by hand:
[code]

[2016-12-20 18:04] whyrusleeping commented on #50
which version of ipfs-update are you using? It looks like the daemon its trying to start up for verification is failing to come online.

Could you try setting `IPFS_PATH` to `/home/vagrant/.ipfs/update-staging/test306772824` and then running `/tmp/ipfs-update645384374/ipfs-new daemon`?

If that works fine, then i'll have to go dive into the issue a bit more.

Aside from debugging the binary valida

[2016-12-22 13:36] mjrider commented on #50
i used: ipfs-update_v1.5.0_linux-amd64.tar.gz from dist.ipfs.io

i already threw the vm away, so the paths do not match with  the output above

[code]
ran init manual:
[code]

afterwards, i removed the .ipfs directory, and tried again. but after the failure i checked the contents of the tempdir (/home/vagrant/.ipfs/update-staging/test746413637) and it was empty. it looks like the init isn't creati

[2016-12-22 13:52] mjrider commented on #50
the --no-check options is also not working

[code]

[2017-01-25 17:20] skippa commented on #50
Same problem, following

[2017-02-01 15:13] imars commented on #40
I'm having the same error with v0.4.5-pre2

imars:~ me$ ipfs-update install latest
fetching go-ipfs version v0.4.5-pre2
binary downloaded, verifying...
install failed, reverting changes...
ERROR: version didnt match

[2017-02-02 00:39] hsanjuan commented on #40
@imars running the lastest ipfs-update?

[2017-02-02 12:37] imars commented on #40
@hsanjuan It's version 1.5.0 with ipfs at v0.4.4. I'm on macOS 10.12.2.

[2017-02-07 14:29] imars commented on #40
@hsanjuan ipfs-update is now working for me with the latest install of ipfs at 0.4.5-rc1.

[2017-02-07 16:40] hsanjuan commented on #40
@imars :/ weird... you should see `rc2` too? does it work also?

[2017-02-11 10:02] Kuurusch opened #52 "Does the updater also update the web ui?"
The title says it already. Does the updater also update the web ui? Because in the last relaese rc4, the web ui does still not working

[2017-02-11 19:08] whyrusleeping commented on #52
@Kuurusch It should be working in rc4. What problems are you having?

cc @dignifiedquire

[2017-02-12 09:12] Kuurusch commented on #52
Hm, so I work on OSX and in the web ui the swarm is still zero. No other peers.

[2017-02-15 20:52] jbenet opened #53 "`install latest` does not work (with `ipfs daemon` on)"
[code]

[2017-02-15 21:07] jbenet commented on #53
- when running ipfs.
- if ipfs is off, `install latest` works.

[2017-02-15 21:09] jbenet commented on #53
- ipfs-update SHOULD work with `ipfs daemon` on. it should:
  - use ipfs to download the next version (caching)
  - shut down the daemon
  - update
  - turn on daemon again.

not sure how this plays with people's service starters, etc. maybe we should make `ipfs daemon` check + wait for a repo update to finish (so if user's system starts it again it's not interfering).

---

for now, let's make `i

[2017-02-17 17:03] imars commented on #40
@hsanjuan It's back to the same failure while trying to get latest.

$ ipfs-update versions
..
v0.4.3
sharding-pre
v0.4.4
v0.4.5

$ ipfs-update install latest
fetching go-ipfs version v0.4.5
binary downloaded, verifying...
install failed, reverting changes...
ERROR: version didnt match

[2017-02-17 18:56] whyrusleeping commented on #40
@imars could you run it in verbose mode: `ipfs-update --verbose install latest` ?

That should help provide a bit more info. Also trying: `ipfs-update fetch latest` should download the latest binary for you, and then you can try using it yourself and see if its broken for some reason and report that back for us.

[2017-02-17 19:08] whyrusleeping commented on #53
@jbenet I think this is because your current daemon was borked for some reason. ipfs-update should work just fine with a running daemon (and will use it for downloading things).

We should probably add an `--ingore-local-daemon` flag or something for the case where we want to default to http gateways for the download for some reason

[2017-02-17 19:09] #48 closed

[2017-02-17 19:10] whyrusleeping commented on #49
This is a pretty cool idea, :+1:

[2017-02-17 19:17] whyrusleeping commented on #46
Sorry for taking so long to respond to this.

I have not been able to do testing on windows, But i will start doing this soon (my new laptop has windows as a second partition instead of OSX) and report back.

In the meantime, and for others experiencing this problem, You could try the `--no-check` flag which skips the small series of tests that ipfs-update runs on the new binaries it downloads

[2017-02-17 19:24] whyrusleeping commented on #38
This should work on the latest version of ipfs-update installing ipfs 0.4.4 or 0.4.5.

I think that during the 0.4.3 dev cycle when you tried this, there was an accidental breaking of the ipfs refs api which lead to the message you were seeing. The "success!" message was getting printed no matter what (this is fixed now) leading to some very confusing output.

[2017-02-17 19:26] whyrusleeping commented on #14
Closing, should no longer be an issue.

[2017-02-17 19:26] #14 closed

[2017-02-17 19:29] whyrusleeping commented on #17
This actually isnt fixed yet. Not sure where to put the readme

[2017-02-17 19:34] whyrusleeping commented on #18
fixed

[2017-02-17 19:34] #18 closed

[2017-02-17 19:34] whyrusleeping commented on #20
fixed

[2017-02-17 19:34] #20 closed

[2017-02-17 19:34] whyrusleeping commented on #25
This should be resolved. Was an issue with early versions of ipfs 0.3.*

[2017-02-17 19:34] #25 closed

[2017-02-17 19:37] whyrusleeping commented on #29
This problem should be resolved. ipfs-update no longer tries to build migrations from source (which I believe was what was happening above).

[2017-02-17 19:37] #29 closed

[2017-02-17 19:37] whyrusleeping commented on #31
resolved

[2017-02-17 19:37] #31 closed

[2017-02-17 19:38] whyrusleeping commented on #32
I now have a windows partition on my laptop, assigning this to myself so i can verify this works on windows.

[2017-02-17 19:40] whyrusleeping commented on #37
We switch to using `.tar.gz` on unixy systems. If you see this error with ipfs-update, please grab a newer version from https://dist.ipfs.io/#ipfs-update

[2017-02-17 19:40] #37 closed

[2017-02-17 19:44] whyrusleeping commented on #47
Early versions of ipfs-update had hard-coded the hash of the distributions page they were pulling information from. Newer versions use `/ipns/dist.ipfs.io`.

If you wish to use a specific distibutions page ref, you can do `ipfs-update --distpath=/ipfs/QmFooBar install v0.4.5`. But in general, you shouldnt need to do so.

[2017-02-17 19:44] #47 closed

[2017-02-17 19:45] whyrusleeping commented on #52
@Kuurusch thats quite odd. @dignifiedquire any ideas here? You were testing this on OSX before the release.

@Kuurusch Does the developer console show any errors?

[2017-02-19 19:42] Kuurusch commented on #52
@whyrusleeping Hm you mean the output of the daemon?

[2017-02-20 08:33] jbenet opened #55 "ERROR: Migration Failed: no known migration supports version 5"
[code]

[2017-02-20 08:34] jbenet commented on #55
@whyrusleeping @Kubuxu -- this seems to be a worse state than before.

[2017-02-20 08:34] jbenet commented on #55
Please be more careful with our users.

[2017-02-23 07:38] Mossfeldt opened #56 "ERROR while updating to 0.4.6-rc1"
ipfs update install v0.4.6-rc1
fetching go-ipfs version v0.4.6-rc1
binary downloaded, verifying...
install failed, reverting changes...
ERROR: version didnt match

[2017-02-23 08:50] whyrusleeping commented on #56
Try running with --no-check. Very odd to be seeing this now, i'm quite certain we updated the version for the release candidate (as was the cause of this problem in the past). I'll verify

[2017-02-23 08:59] Mossfeldt commented on #56
--no-check did the trick.

ipfs update install v0.4.6-rc1 --no-
check
fetching go-ipfs version v0.4.6-rc1
skipping tests since '--no-check' was passed
stashing old binary
installing new binary to /usr/local/bin/ipfs
checking if repo migration is needed...

Installation complete!

Den 23 feb. 2017 9:50 fm skrev "Jeromy Johnson" <notifications@github.com>:

[2017-02-23 09:26] Kuurusch commented on #52
@whyrusleeping Have you a idea how I can debug this situation? I dont understand exactly where the webui is stored. Or is it integrated in the API-bin? Could it be, that it references to an old webui path and the new one has an other path?

[2017-02-23 09:43] Kubuxu commented on #56
Can you send `ipfs-update --version`?

[2017-02-23 09:46] Kubuxu commented on #52
Have you tried accessing `localhost:5001/webui`, the hash of webui will be different than before and this should redirect you to new hash.

[2017-02-23 11:24] Kuurusch commented on #52
So wehen I accessing localhost:5001/webui it redirects me to http://localhost:5001/ipfs/QmPhnvn747LqwPYMJmQVorMaGbMSgA7mRRoyyZYz3DoZRQ/#/

[2017-02-23 11:26] Kuurusch commented on #52
Ou, I've recognised, that now it works :) Hear where I work I'm in the clear-net. At home I'm in Hyperboria. Maybe that was the problem :X But before that worked great :/

[2017-02-23 12:09] Mossfeldt commented on #56
Ipfs-update version 1.5.0

[2017-02-23 12:22] Mossfeldt commented on #56
Don't know if its related but
 ipfs id
api version mismatch (/go-ipfs/0.4.5/ != /go-ipfs
/0.4.6-rc1/)

[2017-02-23 12:23] Kubuxu commented on #56
you have to restart the daemon after update

[2017-02-23 12:25] Mossfeldt commented on #56
Forgot that. Thnx for the reminder. Silver the api mismatch.

[2017-02-23 12:50] Mossfeldt commented on #56
Tested on one of my other nodes
ipfs-update install v0.4.6-rc1
fetching go-ipfs version v0.4.6-rc1
binary downloaded, verifying...
install failed, reverting changes...
ERROR: version didnt match

ipfs-update install v0.4.6-rc1 **--no-check**
fetching go-ipfs version v0.4.6-rc1
skipping tests since '--no-check' was passed
stashing old binary
installing new binary to /usr/local/bin/ipfs
checking if

[2017-02-23 14:17] Kubuxu commented on #56
It is interesting. I will experiment.

[2017-02-23 14:24] Kuurusch commented on #52
@Kubuxu Ou, edit! it's strange, so in Hyperboria the Webgui works not but in the terminal I have connections?

[2017-02-23 14:27] Kubuxu commented on #52
Can you rephrase that last comment. It is a bit unclear.

[2017-02-23 17:35] whyrusleeping commented on #52
@Kuurusch by the developer console i mean the one in your browser. You can press ctrl+shift+J to open it up on chrome.

[2017-02-23 21:19] Kuurusch commented on #52
@Kubuxu Ou sorry, I was a little confusing. Now I understand it more. So it was really only the hash. I had the link to the webui stored with the old hash in my bookmarks and because of that I had this problems. When I use only localhost:5001/webui it works and redirekts to the right hash. Maybe it would be good to find a way, that it don't show the hash in the address?

[2017-02-23 21:41] Kubuxu commented on #52
Please report it as separate issue to webui (first check if it isn't already reported).

[2017-02-23 21:41] #52 closed

[2017-02-25 00:10] egall opened #57 "Cannot start IPFS service (Mac)"

[2017-02-25 00:16] #57 closed

[2017-02-25 13:13] jbenet commented on #56
I get the same thing on v0.4.5 too.

[2017-02-25 16:28] Kubuxu commented on #56
Ahh, this was already fixed. I will increase version number to 1.5.1.

[2017-02-25 16:32] #56 closed

[2017-03-02 02:23] jbenet commented on #55
This is still a problem. some users cannot update correctly

[code]

[2017-03-02 06:31] whyrusleeping commented on #55
@jbenet your installed version of fs-repo-migrations is too old, run
[code]

This is an issue due to a bug in checking the downloaded fs-repo-migrations binary.

I'm pushing a fix for the issue now

[2017-03-02 06:33] whyrusleeping commented on #55
@jbenet alternatively, *dont* fix it that way, and try building latest master of ipfs-update and seeing if that fixes the problem

[2017-03-02 11:08] jbenet commented on #55
[code]

Fixed! thanks v much @whyrusleeping

[2017-03-02 11:08] #55 closed

[2017-03-04 00:57] imars commented on #40
@whyrusleeping The /api directory is in fact missing, however, I've tested ipfs-v0.4.6 and it's working fine.

  - fetching "/ipns/dist.ipfs.io/go-ipfs/versions"
fetching url: https://ipfs.io/ipns/dist.ipfs.io/go-ipfs/versions
daemon check failed: open /Users/imars/.ipfs/api: no such file or directory
fetching go-ipfs version v0.4.6
  - using GOOS=darwin and GOARCH=amd64
  - fetching "/ipns/dist.i

[2017-03-04 02:33] whyrusleeping commented on #40
@imars Could you try using ipfs-update 1.5.2? This may have been resolved

[2017-03-06 01:58] imars commented on #40
@whyrusleeping I finally removed ipfs and ipfs-update and then installed the latest versions, everything seems to be working now.

Thank you all for your assistance.

[2017-03-06 08:29] whyrusleeping commented on #40
@imars Thanks for reporting the issue and following up :)

Please do report anything else you run into

[2017-03-06 08:29] #40 closed

[2017-03-12 23:27] jbenet opened #58 "`ipfs-update --version` is wrong"
I'm supposed to have 1.5.2 and it gives me

[code]

:(

TODOs:
- [ ] fix the version :)
- [ ] add a test so this never happens again :)

[2017-03-12 23:28] jbenet opened #59 "ipfs-update should update itself"
ipfs-update should update itself, too. it's annoying to have to go download it.

[2017-05-10 16:32] octylFractal opened #61 "Try $HOME/.local/bin instead of or as well as $HOME/bin for installing"
Most people use `.local/bin` instead of `bin` for their personal binaries.

[2017-05-10 16:40] whyrusleeping commented on #61
@kenzierocks Ah, right. I wonder if theres a more general rule i could use than hardcoding some options here

[2017-05-10 18:16] kenzierocks commented on #61
The best rule I can think of is the location of `ipfs-update`. I assume most people would want the `ipfs` binaries in the same place. It might also be good to have a command-line switch like `--prefix` to allow the user to set it themselves.

[2017-05-12 22:47] iav commented on #46
I run
`ipfs-update.exe install --no-check 0.4.8` on Windows 7 x64.
It download ipfs binary and placed it into correct location – but without .exe extension. It means file unstartable on windows. Then I rename file ipfs into ipfs.exe – and it run, and show me 0.4.8 version.

[2017-07-05 14:17] Azulan commented on #39
I've been having the same problem.

[2017-07-05 14:18] Azulan commented on #46
I have the same problem. Probably related to #39.

[2017-07-05 14:20] Azulan commented on #32
I have the same problem. Probably related to #39 and #46.

[2017-07-07 01:49] techtonik commented on #59
And `ipfs update` should update it too.

[2017-07-07 02:07] techtonik opened #63 "Windows new window popup and exit"
`ipfs-update.exe` asks for permissions, then runs in popup window and exits. Output redirection doesn't work, so I can't even read the help.

[2017-07-07 09:49] VictorBjelkholm commented on #59
The `ipfs update` command in go-ipfs simply calls `ipfs-update` if you have it installed, so as long as ipfs-update itself can update, `ipfs update` will seamlessly work.

[2017-07-07 10:05] Kubuxu commented on #59
This is a bit problematic on Windows as you can't replace the binary your are currently running.

What you have to do is have two binaries (`ipfs-update.exe`, `ipfs-upate.new.exe`) and during self update:
1. download update as `ipfs-update.new.exe`
2. run it and make it replace `ipfs-update.exe` with itself (but it can't remove itself as it is running.
3. run `ipfs-update.exe` with some flag for i

[2017-07-07 10:12] VictorBjelkholm commented on #59
@Kubuxu there is a library for doing self-updates in golang that I've had success with using in the past, https://github.com/inconshreveable/go-update

We could use that (and maybe even be able to provide the self-updates via IPFS)

[2017-07-07 13:31] techtonik commented on #59
On Windows you can rename that binary and write new one with the old name while the process is still running. After process exits, the old renamed binary can be safely deleted.

[2017-07-07 14:18] techtonik commented on #59
So the algorithm:

1. download update to `ipfs.new.ex_`
2. check update is ok
3. rename itself to `ipfs.old.exe`
4. rename `ipfs.new.ex_` to `ipfs.exe`
5. run new process with some `update --finish` flag and exit
6. new process tries to clean `ipfs.old.exe` three times with 3 sec intervals

[2017-07-07 14:29] Kubuxu commented on #59
You can't do: `rename itself to ipfs.old.exe`.

[2017-07-18 03:35] lsc36 opened #65 "Cannot build with Go 1.7 due to dependency"
Not familiar with Go, but it seems that `sort.Slice` is being used in
`github.com/libp2p/go-libp2p-connmgr`
depended by `github.com/libp2p/go-libp2p-host`
depended by `github.com/libp2p/go-floodsub`
depended by `github.com/ipfs/go-ipfs-api`,
which requires Go 1.8+. Either pin down to a previous version (if possible) or update README?

[2017-07-18 03:58] #65 closed

[2017-07-18 03:59] Stebalien commented on #65
Thanks!

[2017-07-26 00:26] haniawni commented on #50
Yep, same problem on an Ubuntu 16.04 clean DO Droplet. Getting "could not find good install location" error.

[code]

[2017-07-26 00:34] haniawni commented on #50
yea, if your bin dir of choice is in a different location than either $GOPATH/bin or $HOME/bin or /usr/bin, then it won't find it- mine is ~/.local/bin, and neither ~/bin nor /usr/bin exist on a clean Ubuntu 16.04 setup, and my $GOPATH isn't inside $PATH (is that really what ppl do? seems kinda sketch...?) so it gave up.

Enumerating every possible bin location is silly af, seems to me the fallbac

[2017-09-12 15:05] puilp0502 opened #69 "ipfs-update distribution binary gets filtered"
I'm using Chrome 60.0.3112.113, and Windows amd64 binary cannot be downloaded, as shown in this screenshot.
![image](https://user-images.githubusercontent.com/5106603/30333105-175397e2-9817-11e7-9bb1-745a13db4b5a.png)
(That's just saying `This file is dangerous and we blocked it`)

[2017-09-12 15:42] lgierth commented on #69
Thanks for bringing this up, we're working on fixing it

[2017-09-13 12:37] lgierth commented on #69
This should be fixed now - thanks!

[2017-09-13 12:37] #69 closed

[2017-09-13 13:19] VictorBjelkholm commented on #69
While this has been fixed and we got a response from Google that they are removing the warning, it might take a few hours before it's propagated everywhere. As of right now, the warning still seems to appear but will disappear soon.

[2017-10-07 02:43] starrychloe opened #71 "Fails to update on CentOS 7: error initializing with new binary: exit status 1: initializing IPFS node at /ipfs/update-staging/test764857057"
It's just not updating the version. The daemon is not running. I'm trying to update from 0.4.6 to 0.4.11 (latest).

[code]

[2017-10-09 19:24] gowthamgts commented on #58
As per this [line](https://github.com/ipfs/ipfs-update/blob/bdd7a6d806adddcf84c5c7bf5d77c57643061972/config/config.go#L7), the current version is 1.5.1.  Isn't this the expected behaviour?

[2017-10-10 20:41] Stebalien commented on #58
@gowthamgts a new version was tagged without updating that. The latest version is 1.5.2.

[2017-10-10 20:43] Stebalien commented on #58
Unfortunately, I'm not sure adding a test is doable (cat do PRs for git tags).

[2017-11-22 07:09] bogdoslav commented on #32
I developing IPFS installer for Windows and want to include automated updates into it. Please fix this bug, because latest ipfs-update.exe still return same error. Thank you

[2017-11-22 07:27] whyrusleeping commented on #32
I managed to fix the "file does not exist issue", but then i immediately run into this:
[code]

Not sure what `CryptAcquireContext` is...

The diff is just:
[code]

[2017-12-07 23:35] akavel commented on #46
Similar situation:

[code]

hmh, not sure what the last message about "good install location" means :(

[2017-12-13 20:24] renatoathaydes opened #73 "Cannot install ipfs in Linux after installing with go"
I ran the following command to get `ipfs-update`:

[code]

This worked and correctly installed `ipfs-update` on my `~/go/bin` folder.

I then put that path in my `PATH` to be able to run `ipfs-update` from anywhere.

I then tried to install `ipfs` by running this command:

[code]

Which outputs this error:

[code]

I don't think there's any environment issues on my machine, maybe you just didn't t

[2017-12-13 20:34] renatoathaydes commented on #73
Looking at `install.go`, looks like it expects my `https://golang.org/doc/code.html#GOPATH` environment variable to be set, but I just leave it empty so Go uses the default (see the link) which should be `~/go`.

I can make a PR adding this path to the `candidates` so you don't go trying to install in protected paths like `/usr/bin` before trying that one :)

[2017-12-29 22:12] renatoathaydes commented on #73
Tested my changes, the installation works now.

[2018-01-02 18:07] whyrusleeping commented on #73
@renatoathaydes Ah, thanks! It looks like we didnt anticipate the default GOPATH change that was introduced in go1.9, thats bit us in a few places now.

[2018-01-02 18:09] whyrusleeping opened #75 "os specific logic should be extracted into its own package"
Anything os specific (like HOME, and executable names) should get its own subpackage so we can keep that logic together and well tested

[2018-01-02 18:16] renatoathaydes commented on #73
I'll track down all places in `ipfs-update` and change them as well... should I push to the same branch? or new PR?

[2018-01-02 18:17] whyrusleeping commented on #73
You can push to the same branch, no problem

[2018-01-02 18:36] renatoathaydes commented on #73
I only found one more usage, and it was in a function that is not used within the `ipfs-update` project: `getMigrationsGoGet`. There can be many GOPATH paths, but as in this case it expected one, I just used the first one. Hope that's ok for now at least (you should check if the actual file exists, and if not, try the second and third and so on...)

[2018-01-05 21:23] renich opened #76 "arm64 build"
It would be awesome to have an arm64 build.

[2018-01-05 22:22] parfenov opened #77 "Error: ipfs-update not installed."
hi guys, what should I try to get IPFS updated ?

ipfs version 0.4.0

Error: ipfs-update not installed.

[2018-01-06 08:44] renatoathaydes commented on #77
`ipfs update` tries to call `ipfs-update` and you seem to not have it installed.

Try installing [ipfs-update](https://github.com/ipfs/ipfs-update).

[2018-01-15 22:15] NatoBoram commented on #76
You can compile it yourself!

[code]

The only thing that is truly missing is a build for `go-ipfs` in arm64.

[2018-02-01 09:48] wiz commented on #73
An option to set install path explicitly would be most welcome.

[2018-02-13 10:32] erkinalp commented on #26
Then call the FreeBSD port `interplanetaryfilesystem`.

[2018-02-13 10:35] erkinalp opened #79 "ipfs update install should install the latest version with no version specified"
#### Version information: 0.4.12

#### Type: Feature Request

#### Severity: Enhancement

#### Description: Currently ipfs update install requires a version to be specified.
ipfs update install with no versions should install the latest version instead as this is the most common use case.

[2018-02-25 04:43] buckle2000 opened #80 "Censored in China"
The site `https://ipfs.io` and `https://dist.ipfs.io` are fully censored by the GFW. Is there a way to update ipfs via IPFS?

[2018-02-25 17:36] Stebalien commented on #80
Yes. Is it still possible to lookup dist.ipfs.io via DNS? If so, you should be able to fetch IPFS from `/ipns/dist.ipfs.io/`.

Warning! DNS is *not* secure. At the moment, you can download IPFS *directly* from /ipfs/QmczXtuCDYuMN5i4X7EYM658wraGeNjBUQQMtkDNfYPmx5 (securely).

However, none of these solutions will help with ipfs-update.

[2018-02-26 02:59] buckle2000 commented on #80
Every domain blocked by the GFW also has its DNS polluted.

[2018-02-26 03:06] buckle2000 commented on #80
Can ipfs-update integrate `ipget`? In that way, ipfs-update can download ipfs from `/ipns/<hash>` even if DNS and HTTP(S) are censored.

[2018-03-05 05:24] Stebalien commented on #80
That won't help as, as far as I know, we don't use IPNS for dists. However, we really should.

Note: We use dnslink which uses the `/ipns` prefix but that's not actually IPNS. Yes, this is really confusing.

@lgierth how hard would it be to publish IPNS records for dists.ipfs.io?

[2018-03-05 12:39] Kubuxu commented on #76
I've created: https://github.com/ipfs/distributions/issues/175

[2018-03-05 12:40] Kubuxu commented on #76
Closing this for now, please use that issue to track progress.

[2018-03-05 12:40] #76 closed

[2018-03-09 04:24] buckle2000 commented on #80
How about we change `/ipns/<domain name>` into `/dns/<domain name>`?

[2018-03-15 17:40] axelsimon opened #81 "could not move old binary: permission denied"
Hi all,
On Fedora 27, I'm running into an error running `ipfs-update version latest`:

Running `ls -hal /usr/local/bin/ipfs` gives:

I've added the `go/bin/` directory to my path and can call `ipfs-update` directly.
I've also modified the permissions on `/usr/local/bin/ipfs` to be as permissive as possible (777), no change in the error. I'm thinking there's possibly an an issue with SElinux preven

[2018-03-20 18:14] luav opened #82 "Installation fails on Linux"
Installation fails on Linux Ubuntu 16.04 x64 with go1.10 following the [instructions](https://ipfs.io/docs/install/#installing-with-ipfs-update):
[code]

[2018-03-20 18:16] Kubuxu commented on #82
I think the dot at the end is `end of the sentence` dot not part of the command.

[2018-03-20 18:29] Kubuxu commented on #82
Should be resolved by: https://github.com/ipfs/website/pull/257

[2018-03-20 18:33] luav commented on #82
Thanks, it works.

[2018-03-20 18:33] #82 closed

[2018-03-23 07:04] gowthamgts commented on #79
Can agree, today I was feeling the same. This should reduce two steps (listing and installing) into a single command.

[2018-03-23 07:10] gowthamgts commented on #79
@Stebalien how is this different from `ipfs-update fetch`?

[2018-03-23 14:27] erkinalp commented on #79
`ipfs-update fetch` does not install.

[2018-03-27 08:56] gowthamgts commented on #79
I was on ipfs `v0.4.13` and `ipfs-update fetch` installed `v0.4.14` perfectly fine. Here's the output:
[code]

[2018-03-27 14:13] nothingismagick opened #83 "'ipfs update' doesn't do anything"
So I just posted an issue over at [go-ipfs](https://github.com/ipfs/go-ipfs/issues/4880) about the integration of this repo, and I wonder a little bit why on earth it I have to run it three times to get what I want. Should I have run `ipfs update fetch`? Or would that just have "fetched" the latest version and not installed it?

Why are there so many versions listed under `ipfs update versions`? W

[2018-03-27 14:47] VictorBjelkholm commented on #83
You don't, running `ipfs-update install v0.4.14` is enough if you want to install version 0.4.14.

That's only if you want the binary, but not to install it. Probably does not fit your use case, if you just want to install one new version but useful in testing and other cases.

Hm, I don't see why we would limit it to just two versions? As it is, it lists the same as the versions we have available

[2018-03-27 15:07] nothingismagick commented on #83
The reason I bring this up has a lot to do with [this document](https://ipfs.io/ipns/ipfs-docs-research.robbrackett.com/html/General-Notes.html) and specifically the "User Journey". I guess for the power-user and core-dev involved in go-ipfs you are absolutely right, no issues at all.

My expectation as a new user is that a command listed in `ipfs --help` would not have to be additionally installe

[2018-03-27 15:56] VictorBjelkholm commented on #83
I'm not only talking about only power-users and core-devs, what I've found is that every version manager of languages/libraries/software in general exposes the very same commands. `download/fetch`, `versions` and `install`.

Ah, I understand better where you are coming from now. You're using `ipfs-update` via the `update` command on go-ipfs. The consideration change then.

`ipfs update` I agree, w

[2018-03-27 17:19] nothingismagick commented on #83
Yes! Sorry if I didn't communicate that well enough about calling this from `go-ipfs` realm.

I kind of expected `ipfs update` to work as syntactic sugar to call something like this one-liner (which I now know to be what happens):

[code]

`ipfs upgrade`is a brilliant idea.

[2018-03-27 18:47] nothingismagick commented on #80
There might also be another problem here:

https://github.com/ipfs/ipfs-update/blob/4d18c479cdb739cb6fb53063041d589cb87a3586/util/utils.go#L22

[2018-04-04 07:42] AnandWalvekar commented on #77
Hi @renatoathaydes
"go get -u github.com/ipfs/ipfs-update" command on terminal returns after a while but same error keeps showing upon "ipfs update" and not sure where "ipfs-update" got installed

[2018-04-18 17:59] renatoathaydes commented on #77
`go get` always installs programs at `$GOPATH/bin`, usually `/usr/local/go/bin`, or `~/go/bin`.

See https://github.com/golang/go/wiki/GOPATH.

[2018-04-19 04:13] steverecio commented on #79
I was trying to run `ipfs update install latest` and while it seemed to pick up the latest version, it failed to acquire the `repo.lock` file. However, running `ipfs update install v0.4.14` ran fine and installed the latest version.

Is something broken here or is this expected behavior?

[2018-06-01 11:29] slrslr opened #86 "How do i update IPFS on Windows?"
Hello,

in WIndows 10 command line, i tried to launch: ipfs update

How do i install/update it on the Windows please?

[2018-06-01 11:52] djdv commented on #86
`ipfs-update` is a separate binary from `go-ipfs`, `ipfs update` wraps the command `ipfs-update`.
You will need to install https://dist.ipfs.io/#ipfs-update to your path for it to work.
However, I'm curious as to why we don't try to fetch this automatically in `go-ipfs`.

[2018-06-01 13:48] slrslr commented on #86
@djdv thank you, i DLed .zip file from Yours linked page and extracted ipfs-update.exe from it to my C:\Windows directory, then **ipfs update** versions command started working and shows latest version v0.4.15, but when i do: ipfs update install 0.4.15

When i execute it from C:\Windows directory: "error creating test staging directory: mkdir .ipfs: access was denied" (access was denied is in non

[2018-06-01 13:56] djdv commented on #86
@slrslr
Interesting. I am experiencing a bug that may be related, here: https://github.com/whyrusleeping/gx/issues/175
I will be investigating this. Thank you for the information.

[2018-06-01 14:05] slrslr commented on #86
I updated my post, --verbose shows "daemon check failed: open .ipfs\api" kind of error.

[2018-06-06 20:53] djdv commented on #86
@slrslr
I don't recommend installing binaries to `C:\Windows` as that location is for use by the system. You should set up a folder of your own and add it to your `PATH` environment variable.

In either case, I have a patch that should resolve the issue for `ipfs-update install v0.4.15`.
https://github.com/djdv/ipfs-update/tree/fix/win-install

I'll look into the case for `ipfs update --verbose in

[2018-06-07 08:15] slrslr commented on #86
@djdv thank You for the ipfs-update.exe
When i launched it (ipfs-update --verbose install v0.4.15) i seen:

(Přístup byl odepřen. = Access denied)

But when i launch Windows command prompt as an Administrator, then it worked. It is a bit complicated for regular Windows GUI user to update, but worked. If you need i try anything else, just let me know. Thank you for help.

[2018-06-07 12:43] djdv commented on #86
You're likely getting an access error, because users cannot write to `C:\WINDOWS\system32` by default. Unfortunately, Windows doesn't have a good default place to put user programs, it's left up to the user to make one or use admin rights to install programs.
I made a recording for friends of mine a while ago, it's outdated now, but may still be useful.
[link](https://ipfs.io/ipfs/QmZ8Modb7dmRVEcM

[2018-06-13 21:53] Stebalien opened #91 "Run go vet and go fmt in CI"

[2018-08-24 02:51] daijiale opened #93 "go get -u github.com/ipfs/ipfs-update timeout"
![](http://career-pic.oss-cn-beijing.aliyuncs.com/morn-mist/ipbe/error-txt.png)

[2018-09-04 23:08] Stebalien commented on #79
This is a bug in the *current* version where it locks the repo before installing. Unfortunately, it then tries to run a repo migration which *also* needs to lock the repo. The solution is to manually run `ipfs-update install latest` (note the `-`).

---

You're right, this is looks like a documentation fix.

[2018-09-10 22:11] RichardLitt opened #96 "Install hangs on 'verifying'"
I was trying to use ipfs-update to install a newer version, and it would consistently hang indefinitely on the verification step in [this block](https://github.com/ipfs/ipfs-update/blob/master/lib/install.go#L85). It might be a good idea to suggest running `--no-tests` if this happens, as I didn't know that was an option and ended up manually installing the binaries and moving them myself.

[2018-09-10 22:15] RichardLitt commented on #96
Looked into it. Some PATH issue. When I updated ipfs-update to 1.5.3, this didn't happen anymore.

[2018-09-10 22:15] #96 closed

[2018-09-20 05:47] tommycox opened #97 "Unrecognized import path "math/bits""
When attempting to install ipfs-update am getting the following error:
[code]
Please advise, much thanks!

[2018-09-20 23:02] Stebalien commented on #97
You need go 1.10 or higher.

[2018-09-20 23:02] #97 closed

[2018-09-25 16:48] Stebalien commented on #93
That looks like a transient network error.

[2018-09-25 16:48] #93 closed

[2018-09-27 21:39] Stebalien opened #98 "Append `-dev` to the version until we're actually ready to release"
Avoids the confusion here: https://github.com/ipfs/distributions/issues/201

[2018-09-27 21:45] Stebalien commented on #98
Fixed in https://github.com/ipfs/ipfs-update/pull/99

[2018-09-27 21:46] #98 closed

[2018-10-09 05:18] klueq commented on #73
So the fix is to add the following line to `~/.bashrc`:

[code]

Then restart the bash terminal.

I'm sorry for being harsh, but I think it's astonishing that such basic fundamental things don't work out of the box and people have to spend time fixing intricate relationship problems between some internal components of the ipfs update tool. There should be a daily script run on a VM that gets ipfs-

[2018-10-09 09:19] djdv commented on #73
Can people encountering this issue let me know if this resolves it for you?
https://github.com/djdv/ipfs-update/tree/install-path-fix

[2018-10-09 20:52] Mikaela commented on #73
I think there is some reason why `export PATH=...` is a bad idea, but I cannot remember what, and I would use `PATH=$HOME/go/bin:$PATH` and in case duplicates were a problem¸ https://unix.stackexchange.com/a/14896 another line for bashrc to fix it.

[2018-10-25 09:37] khachatur-s opened #100 "ipfs-update won't work in private network"
IPFS Version information: 0.4.17
ipfs-update: Version information: 1.5.3-dev
Type: Feature Request
Severity: Enhancement

ipfs-update won't work when enabling IPFS [Private Networks](https://github.com/ipfs/go-ipfs/blob/master/docs/experimental-features.md#private-networks) feature.
It's logical, 'cause ipfs-update uses local ipfs daemon for data transfer and this IPFS [Private Networks](https://g

[2019-01-09 08:27] alzxcv43210 opened #101 "How do i change ipfs-update tmp directory from /tmp/ipfs-updatexxxx to other place ?"
Hi All
My arm linux installed ipfs, when i try to ipfs-update it told to me ...

xxx:/mnt/md1/admin/ipfs-update# ./ipfs-update --verbose fetch
looking up 'latest'
  - fetching "/ipns/dist.ipfs.io/go-ipfs/versions"
fetching url: https://ipfs.io/ipns/dist.ipfs.io/go-ipfs/versions
fetching go-ipfs version v0.4.18
  - using GOOS=linux and GOARCH=arm
  - fetching "/ipns/dist.ipfs.io/go-ipfs/v0.4.18/go-

[2019-01-10 01:11] Stebalien commented on #101
You can set the TMPDIR environment variable to change the default temporary directory (note: this will apply to applications other than IPFS as well).

You should also consider increasing the size of /tmp. A lot of applications are going to have trouble with a 16MiB temporary directory.

[2019-01-10 01:11] #101 closed

[2019-01-10 07:40] alzxcv43210 commented on #101
That solved my problem.

Thanks a lot.

[2019-04-17 01:49] songjiayang opened #102 "the output of `ipfs update versions` should reverse order"
#### Version information:
ipfs version 0.4.19

#### Type: enhancement

#### Description:

Now, the output look like:

[code]

Maybe reverse order is better. I find versions come from https://ipfs.io/ipns/dist.ipfs.io/go-ipfs/versions, so we just change it.

[2019-04-17 03:53] Stebalien commented on #102
@songjiayang want to take a crack at this? You'll need to modify https://github.com/ipfs/ipfs-update/blob/master/lib/versions.go to sort the versions.

[2019-05-12 16:34] niharrs opened #104 "Unable to install ipfs-update"
<img width="571" alt="Screenshot 2019-05-12 at 10 04 04 PM" src="https://user-images.githubusercontent.com/24189168/57585156-e0e48300-7501-11e9-96bc-c9c54a8640cf.png">

Go version: `go version go1.11.1 darwin/amd64`

[2019-05-12 19:05] djdv commented on #104
It looks like `$GOPATH/bin` is missing from your `$PATH`. So even though `ipfs-update` is installed, you need to tell your shell where it was installed to.
https://golang.org/doc/code.html#GOPATH
(By default this would be `~/go/bin/ipfs-update`)

[2019-05-17 19:57] #104 closed

[2019-06-18 06:49] mitra42 opened #105 "https://ipfs.io/ipns/dist.ipfs.io/go-ipfs/versions down?"
I'm seeing failures to install IPFS with `https://ipfs.io/ipns/dist.ipfs.io/go-ipfs/versions` not returning, (which unfortunately is blocking our Docker update for everything else).

Does anyone know if this is a temporary glitch, or something permanent ?

[2019-06-22 00:12] mitra42 commented on #105
Looks like its still happening, the failing line in docker is
[code]
Which fails with
[code]
It seems that `https://ipfs.io/ipns/dist.ipfs.io/go-ipfs/versions` has very variable performance,
Maybe ipfs-update needs to get its list of versions from somewhere more reliable than IPNS ?

[2019-06-22 16:29] Kubuxu commented on #105
It isn't IPNS, it is the gateways having intermittent problems. We are working on resolving them.

[2019-06-23 00:46] mitra42 commented on #105
Thanks for clarification - but still begs a rephrase question should ipfs-update depend on the gateways which are somewhat unstable (in the way of any rapidly moving development).
The importance isn't for update of a running IPFS, its more that this process is also used to make sure Docker installs get the latest IPFS.

[2019-06-25 12:57] AuHau opened #106 "go get does not install with go 1.12.6"
Tried to install `ipfs-update` with `go`'s version 1.12.6 and got a bunch of messages and `ipfs-update` not installed. Upon downgrading to 1.11.11, all works as expected.

The messages:
[code]

[2019-06-25 16:07] Kubuxu commented on #106
Seem like a problem with your Go installation (it is lacking standard library).
I've just successfully built it with Go 1.12.6

[2019-06-25 16:07] #106 closed

[2019-06-25 16:29] AuHau commented on #106
Hmm interesting, thanks for letting me know.

[2019-06-26 10:48] mitra42 commented on #105
I can confur this doesn't look like a problem with just IPNS as URLs like:
`https://dist.ipfs.io/go-ipfs/v0.4.21/go-ipfs_v0.4.21_linux-arm.tar.gz`
are failing

[2019-07-18 22:10] ThomasFreedman commented on #73
I'm getting this 'no good location' error and my GOPATH env is set. How does "ipfs-update install ipfs latest" determine what a "good" location is? I'm running with sudo, so it isn't a permissions issue.

And yes, the docs need some help. [this page](https://docs.ipfs.io/guides/guides/install/#installing-with-ipfs-update) has contradictory info, as it says under **Getting ipfs-update** to use "go

[2019-07-19 18:58] ThomasFreedman commented on #50
Hmmm... Irrespective of "standard" bin folders, either the code or docs should at least provide info on where it *expects*  to install the bin. Even with --verbose no such info is provided.

I do set GOPATH=/home/$USER/go, and append /usr/local/go/bin to PATH in a 2 line bash script that I source in each user's **.**profile.  I also source that script in my installation script prior to running ipf

[2019-07-19 22:08] ThomasFreedman commented on #50
Adding $GOPATH/bin to the PATH doesn't resolve the issue. I thought I only added $GOPATH to the PATH but no, I added both the go language bin AND $GOPATH/bin to it and the problem still occurs. $GOPATH is set to /home/$USER/go. Since I'm running my script as root with sudo, permissions aren't the issue.

I verified this very carefully.

I downloaded version 1.5.2 of ipfs-update, although the "vers

[2019-07-20 12:45] hechty commented on #105
PS C:\go-ipfs> .\ipfs-update.exe versions
ERROR: failed to query versions:  http.DefaultClient.Do error: Get https://ipfs.io/ipns/dist.ipfs.io/go-ipfs/versions: dial tcp 69.63.184.14:443: connectex: No connection could be made because the target machine actively refused it.

[2019-07-20 19:30] Stebalien commented on #105
The gateway instability has mostly been fixed (for now).

---

@hechty ipfs.io is blocked in china. You'll have to download IPFS from GitHub: https://github.com/ipfs/go-ipfs/releases

[2019-07-20 19:30] #105 closed

[2019-08-22 16:02] zhjgit commented on #80
ipfs upgrade is wall, is there a solution at present?

[2019-08-22 17:07] Stebalien commented on #80
At the moment, you can manually download releases from github: https://github.com/ipfs/go-ipfs/releases/tag/v0.4.22. If you already _have_ IPFS installed and running, it looks like `ipfs-update` will use that. Unfortunately, that still relies on DNS.

For the latest release, you can run:

[code]

However, it's probably easier just to download from github.

[2019-08-23 03:05] zhjgit commented on #80
@Stebalien
I use commands in ipfs v0.4.15
`ipfs-update --distpath /ipfs/QmVE4kPH5reJRvazaZwZK3Rrp95nGxkKtr253ZF6FJxVv9 install v0.4.22`
The following error occurred，but upgrades are not a problem with ipfs v.0.4.18

![image](https://user-images.githubusercontent.com/11417141/63563869-374b6e00-c595-11e9-9654-ec4d4633335d.png)

[2019-08-23 06:04] zhjgit commented on #80
`/ipfs/QmVE4kPH5reJRvazaZwZK3Rrp95nGxkKtr253ZF6FJxVv9` The gateway can not update and upgrade ipfs. I would like to ask if it can upgrade ipfs through binary files. Why do you have to upgrade the specified version online? @Stebalien

[2019-08-23 17:07] zhjgit commented on #80
By modifying the gateway address
https://github.com/ipfs/ipfs-update/blob/4d18c479cdb739cb6fb53063041d589cb87a3586/util/utils.go#L22
 I recompiled `go-update`, which can now be upgraded online for go-ipfs v0.4.18. Because I am not familiar with go language, but I wonder if I can add a new function, the domain name configurable image` --distpath` can be customized, instead of hard coding in the pro

[2019-08-23 17:46] Stebalien commented on #80
This was a bug. Unfortunately, it was a bug in the update mechanism which made it a bit hard to retroactively fix.

A `--gateway` flag would definitely be useful.

[2019-09-04 16:04] Ilias48rus commented on #63
Same here, don't know if it require some special initialization protocol, but i would expect the .exe to just open a working command-line window :)
![viZmisZipfsUpdate](https://user-images.githubusercontent.com/13949704/64271664-63c49a00-cf46-11e9-9ca0-ed4d2666e9f2.gif)

[2019-09-04 16:27] Stebalien commented on #63
ipfs-update is a non-interactive command line utility. You'll need to open a terminal _first_ then run it from there.

If you're using Windows, I recommend [ipfs-desktop](https://github.com/ipfs-shipyard/ipfs-desktop). It'll handle all this for you.

[2019-09-04 16:27] #63 closed

[2019-09-04 16:47] Ilias48rus commented on #63
@Stebalien , thanks for the answer, i've already found the ipfsD (trough issue on the go-ipfs), so the official utilities are like a set variables with functions .

[2019-09-04 17:38] Stebalien commented on #63
I agree. There's a documentation issue (https://github.com/ipfs/docs/issues/188) for fixing this.

[2019-09-07 00:29] Stebalien opened #108 "When ipfs-update is double-clicked in windows, keep the window open"
Currently, the window blinks into existence then closes when the user double-clicks on `ipfs-update.exe` (windows only). Instead, it should open a terminal window with a message telling the user how to invoke ipfs-update.

[2019-09-11 21:47] ThomasFreedman commented on #79
So why is this issue still open after more than a year, if only a doc fix?

I agree with the OP, the latest should be default if no version is provided.

I seem to always run into trouble with ipfs-update. I use it ever other month or so and every time my install script fails when I use ipfs-update to install ipfs.

I've seen this error before as well: **could not find good install location** My w

[2019-09-11 23:32] parkan commented on #79
documented in https://github.com/ipfs/ipfs-update/commit/3b9a359a443d0c33a8c7452d2d92023b341af8af though agree it could be a bit clearer

[2019-10-17 15:01] collincusce opened #109 "Dependency md2man is down"
Hey guys,

Tried to install today and this is what I get:

[code]

I checked out the repo https://github.com/cpuguy83/go-md2man/v2/md2ma is down but the master branch is up. Perhaps you meant to reference that? There's also a v2 release but it only supports golang v11 or higher, which is not in-line with the ipfs requirements from what I can tell (which is v1.10+, no?). https://github.com/cpuguy83

[2019-11-14 02:16] totedati opened #110 "ipfs-update error at install from source"
[code]

go is installed via snap because in Ubuntu Bionic Beaver is v1.10 max and ipfs-update need at least go v1.12 version, so i get go with `snap install go --classic` command

[code]

[code]

[code]

go setup look ok, i can install & compile the "Hello World" example, but `go get -u github.com/ipfs/ipfs-update` command end in this error:

[code]

So ... what to do next!?

[2019-11-17 09:08] Aniket-Engg commented on #110
getting same error.

[2019-11-18 15:07] Stebalien commented on #110
You'll need to use go modules (export GO111MODULE=on).

[2019-11-18 15:08] Stebalien commented on #110
(and the readme is wrong...)

[2019-11-18 15:12] Stebalien commented on #110
And I'm wrong. It _needs_ to use go modules now as our CLI library no longer works without it.

[2019-11-18 15:21] #110 closed

[2019-11-18 23:41] mitra42 opened #113 "go-get failing, something to do with cli.Flag"
go-get is failing - breaking our Docker install on dweb.archive.org that includes IPFS.

I don't know enough about go failure modes to understand what is happening ...  See next comment for the output ...

[2019-11-18 23:42] mitra42 commented on #113
[code]

[2019-11-19 16:51] Stebalien commented on #113
Due to a change in a dependency, this package now requires go modules:

https://github.com/ipfs/ipfs-update#from-source

[2019-11-19 16:51] #113 closed

[2019-11-24 01:32] mitra42 commented on #113
I've fixed ours, but I'm wondering if I'm the only one who finds it ironic that a program built to make it easier to consitently install IPFS, itself changes its interface meaning that any Dockerfile, for example, that install IPFS via ipfs-update is going to fail until they notice this interface change ?

[2019-11-24 17:15] Stebalien commented on #113
An upstream dependency out of our control made a breaking change (for a good reason). There's not much we can do about that other than to fix it and try to ensure it doesn't happen again (i.e., switch to go modules).

Note: You can download ipfs-update from https://dist.ipfs.io/#ipfs-update if you want pre-built binaries that "just work".

[2019-11-25 00:48] mitra42 commented on #113
Sure - and breaking changes like that are probably why ipfs-update should be replaced, or supplemented by a shell script that always works, like the installers for many other packages, which are easy to add into Dockerfiles etc. Typically I've either got `apt-get install` `yarn add` or `curl xxx | bash` to install anything and its stable.
IMHO IPFS needs something similarly reliable.

IPFS is the

[2019-12-03 00:51] totedati commented on #110
Indeed with
[code]
error is gone. Work for me, problem solved. Anyway i managed to install go-ipfs from sources jumping over ipfs-update

[2019-12-07 03:11] #73 closed

[2019-12-10 07:46] bajtos commented on #113
Hello, I found this issue while trying to install `ipfs-update` by following the instructions https://docs.ipfs.io/guides/guides/install/#installing-with-ipfs-update:

It would be great to update this part of the documentation and explain what go-related dependencies are required.

I think this is the relevant file: https://github.com/ipfs/docs/blob/master/content/guides/guides/install.md#installi

[2019-12-10 08:26] Stebalien commented on #113
@bajtos could you file an issue against github.com/ipfs/docs?

[2019-12-16 13:07] bajtos commented on #113
I figured out it's faster to send a pull request, see https://github.com/ipfs/docs/pull/409

[2020-01-04 06:30] mitra42 opened #114 "ipfs-update in dockerfile failing - cannot load crypto/ed25519"
ipfs-update is failing again in dockers ....  symptom is a line like
[code]
during the go get of ipfs-update.

I'll post more details below ....

[2020-01-04 06:33] mitra42 commented on #114
Dockerfile extracts ....
[code]

[2020-01-04 06:34] mitra42 commented on #114
Suggestions elsewhere in https://github.com/micro/go-micro/issues/748 suggest you need Go 1.13 to solve this (the other suggestions there didn't work) BUT ubuntu is still on 1.12,

Is there a solution or is ipfs-update no longer docker compatible till ubuntu ups the Go version to 1.13 ?

[2020-01-06 00:23] Stebalien commented on #114
Don't pass `-u` to `go get`. That tells go to update the dependencies (which won't work on go 1.12).

[2020-01-06 00:23] #114 closed

[2020-01-06 01:23] mitra42 commented on #114
Thanks - that fixed it

[2020-01-22 02:16] ncorder opened #117 "'ipfs-update install latest' doesn't appear to update"
**Log**:

[code]

When running the command as `ipfs-update`:

[code]

[code]
______________

**Description**: The log states it all.

**OS**: Red Hat GNU/Linux v8

**How was program installed?**: Using the binary with `./install.sh`.

[2020-01-27 13:40] hsanjuan commented on #117
hey @ncorder , I am suspecting that you have two ipfs binaries laying around, one taking precedence over other (depending on running with `sudo` or not). Run:

What are `which ipfs` and `sudo which ipfs` showing?

[2020-01-27 13:42] hsanjuan commented on #109
I cannot reproduce this. go get install works for me on latest Go1.13. Re-open if anything new comes up.

[2020-01-27 13:42] #109 closed

[2020-01-27 13:42] #102 closed

[2020-01-27 13:48] hsanjuan commented on #100
This tool uses the local ipfs daemon to fetch the files, but if that is not available, it fails back to the public gateways. I suggest to stop the local ipfs daemon before running ipfs-update.

Closing this for the moment, but if you want to take a stab at adding a command flag to download directly from http, go ahead :)

[2020-01-27 13:48] #100 closed

[2020-01-27 13:50] hsanjuan commented on #83
I am closing this as there are no actionables here and issue seems abandoned.

[2020-01-27 13:50] #83 closed

[2020-01-27 13:51] hsanjuan commented on #81
Probably the permissions causing the issues are those of /usr/local/bin folder. Re-open if needed.

[2020-01-27 13:51] #81 closed

[2020-01-27 13:54] hsanjuan commented on #80
This is a bit old. I'm closing it, but feel free to take a stab at a `--gateway` flag as proposed and submit a PR.

[2020-01-27 13:54] #80 closed

[2020-01-27 13:54] #79 closed

[2020-01-27 13:55] #77 closed

[2020-01-27 13:56] hsanjuan commented on #17
Only needs to add a README to the `dist` folder.

[2020-01-27 13:58] #19 closed

[2020-01-27 14:00] hsanjuan commented on #32
I think this is not the case anymore. re-open if needed.

[2020-01-27 14:00] #32 closed

[2020-01-27 14:00] #41 closed

[2020-01-27 14:01] #39 closed

[2020-01-27 14:01] hsanjuan commented on #39
reopen if still happening

[2020-01-27 14:01] #46 closed

[2020-01-27 14:02] #49 closed

[2020-01-27 14:03] #38 closed

[2020-01-27 14:03] #53 closed

[2020-01-27 14:03] #58 closed

[2020-01-27 14:05] hsanjuan commented on #71
I'm not sure why this happened, but closing since very old.

[2020-01-27 14:05] #71 closed

[2020-01-27 14:11] hsanjuan commented on #50
closing as old, and the actual issue was solved. Feel free to open a new issue about the documentation or, better, send a PR to improve it.

[2020-01-27 14:11] #50 closed

[2020-01-29 23:23] #108 closed

[2020-01-29 23:27] Stebalien commented on #117
So, we're _supposed_ to fail in this case. When we install IPFS, we check to see if there's an existing copy. If there is, we try to move it out of the way and replace it.

[2020-01-29 23:30] Stebalien commented on #61
Fixed. We now try `~/.local/bin` (if it's in the PATH and exists).

[2020-01-29 23:30] #61 closed

[2020-01-29 23:37] Stebalien opened #119 "Release v1.5.3"
We've fixed _many_ bugs since the last release (in 2017!). We shoudl cut a release.

* Better install location detection.
* Lots of windows bug fixes.

To release, we need to:

1. Update the version number in config/config.go.
2. Tag a release.
3. Release with github.com/ipfs/distributions.

[2020-01-30 09:26] hsanjuan commented on #119
I'll take care

[2020-01-31 13:08] #119 closed

[2020-01-31 19:14] NukeManDan opened #121 "CHANGELOG.md bump"
Reads v1.0.0 , now it's waaaay newer :)

[2020-01-31 19:15] NukeManDan commented on #121
https://github.com/ipfs/ipfs-update/blob/v1.5.3/CHANGELOG.md

[2020-02-01 17:31] Stebalien commented on #121
Removed in #120.

[2020-02-01 17:31] #121 closed

[2020-02-26 20:50] erich-comsIO opened #122 "ipfs update install for OSX generates "ERROR: could not find good install location""
On OSX - there is the identical issue that was closed for linux:
https://github.com/ipfs/ipfs-update/issues/73

Just like in that report, exporting a modified go path to use expansion (~/go/bin) was the work around.

Seems like more testing for releases is in order.

[2020-02-27 16:39] Stebalien commented on #122
What do you mean "to use expansion"? If `$HOME/go/bin` isn't in your path, `ipfs-update` will look for an alternative install location. If it can't find any good install location, it'll return that error.

Please re-run ipfs-update with `--verbose` and post the log.

[2020-04-16 14:04] Kirol54 commented on #117
I have a bit different issue but the title would be the same so commenting here.

I have dockefile for running private ipfs node, and it recently started failing at :

`Step 11/15 : RUN ipfs-update install latest`
` ---> Running in f0cebf0xxxx`
`ERROR: fetching resource: 404 Not Found`
`ERROR: error resolving 'latest':  404 Not Found: ipfs resolve -r /ipns/ipfs.io/ipns/dist.ipfs.io/go-ipfs/version

[2020-04-16 14:09] Kirol54 opened #125 ""ipfs-update install latest" fails to run on docker"
## Description:
I have dockefile for running private ipfs node, and it recently started failing at :

#### Command Output:

[code]

#### Edit: I just tried passing version number instead of "latest" - same error
```dist.ipfs.io/go-ipfs/v1.5.3/go-ipfs_v1.5.3_linux-arm.tar.gz: no link named "ipns" under bafyb```

[2020-04-16 20:16] Stebalien commented on #125
Have you set the IPFS_DIST_PATH environment variable anywhere?

[2020-04-17 07:56] hsanjuan commented on #125
This may have been a transient issue with the public gateways. Can you verify and close if it's fixed?

[2020-04-17 09:59] Kirol54 commented on #125
no, I haven't set it anywhere

install latest started to work as of today morning, but passing version number (i.e 1.5.0) still fails.
sorry, could have been just transient as you say

[2020-04-17 12:44] hsanjuan commented on #117
I'm going to close this since no updates since january...

[2020-04-17 12:44] #117 closed

[2020-04-17 12:47] hsanjuan commented on #125
@Kirol54  It works for me. Is your ipfs-update version up to date? (note 1.5.0 is not a go-ipfs version).

[2020-04-17 13:14] Kirol54 commented on #125
my mistake, I was passing version number of ipfs-update rather than go-ipfs.

and I said before, `ipfs-update install latest` started to work again few hours ago

[2020-04-17 14:28] #125 closed

[2020-04-21 13:03] hsanjuan opened #127 "Revert should run reverse migrations as needed"
Currently `revert` does not run any migrations.

Additionally, we should have a flag to revert/downgrade without running migrations.

[2020-04-28 10:17] bertrandfalguiere opened #129 "v1.6.0 doesn't run revert migration as stated in change log"
#### Version information:
ipfs-update version 1.6.0
OS: Ubuntu 20.04

#### Description:
1) I had go-ipfs 0.4.23.
2) I ran ipfs-update install 0.5.0-rc4. IPFS and repo were upgraded as expected.
3) I ran a downgrade back to 0.4.23.

Expected: A revert migration on downgrade
Had: Downgrade of IPFS, not of Repo.

#### Command Output:
[code]

[2020-04-28 10:18] bertrandfalguiere commented on #129
related: #128, #127

[2020-04-28 15:42] hsanjuan commented on #129
Hi @bertrandfalguiere ,

It seems you run your ipfs daemon  with your normal user : `$ ipfs daemon`.

But you are running `sudo ipfs-update install...`. By using sudo the 0.4.23 version of ipfs is getting installed to your root user, which probably had a different version of ipfs installed than 0.5.0-rc4 and did not need a migration.

Try downgrading without sudo.

For me things downgrades work as

[2020-04-28 15:42] #129 closed

[2020-05-18 15:51] ThomasFreedman commented on #50
Could you update this issue with a reference to the resolution? Fixed in release # or something to help people that run into this in the future (and so I can update my docs & scripts to reflect the fix)?

[2020-05-18 22:22] Stebalien commented on #50
We rewrote the install logic in https://github.com/ipfs/ipfs-update/pull/112. This logic has now been documented in the [README](https://github.com/ipfs/ipfs-update#install-location) and was included in releases v1.5.3 and v1.6.0.

[2020-07-15 21:23] erich-comsIO commented on #122
Sorry for the very slow response - as per my original post, I modified the path to use /go/bin in my home directly through expansion (~), and that made the application run. I guess the go path in my shell was different and update didn't find the good installation - but it's been so long I don't remember, so obviously i'll just close this out. Sorry for any confusion.

[2020-07-15 21:23] #122 closed

[2020-07-17 16:26] erich-comsIO opened #130 "Chrome blocks MacOS 64bit ipfs-update download"
#### Version information:
1.6.0

#### Description:
Sorry in advance if this is the wrong place to report this.

On OSX, Chrome blocks download of ipfs-update from dist.ipfs.io, complaining that it "may be dangerous" etc.

To reproduce: Attempt to download the MacOS 64bit version with Chrome.

[2020-07-20 16:52] Stebalien commented on #130
Hm. It sounds like we need to get ipfs-update signed. cc @lidel?

[2020-07-22 10:33] lidel commented on #130
Tracked in https://github.com/ipfs/distributions/issues/273

[2020-08-20 09:22] k1ic opened #131 "ERROR: failed to query versions: cat: could not resolve name"
#### Version information:

#### Description:

#### Command Output:

<details>
<summary>Verbose Output</summary>

[code]

</details>

[2020-09-23 08:10] godcong opened #132 "failed update on private IPFS network"
#### Version information:

ipfs-update version 1.6.0

#### Description:
my node was running on a private IPFS network.
if my `ipfs daemon` was running.
i run `ipfs-update install latest` command, the command line stops at the next line and does not move.
then if i stop the `daemon`, update will failed.

log:
[code]

[2020-09-23 08:35] godcong commented on #132
so i change the step.
when the local was failed,then check the remote.

[2020-09-23 10:00] godcong commented on #59
When I run ipfs update, if ipfs-update does not exist.
Maybe we should download ipfs to the specified directory instead of just prompting that it is not installed then let the user find `ipfs-update`, download it again, and run ipfs update.

[2020-09-23 12:46] sigma67 commented on #132
This is quite confusing  behavior. Without the verbose option, it just seems as if the command was stuck and doesn't do anything. ipfs-update should notice that the local IPFS node is not able to retrieve the file (i.e. timeout) and instead use traditional http.

I also believe the message ``using local ipfs daemon for transfer`` should be shown without the ``verbose`` option, but that's just my o

[2020-09-23 16:54] godcong commented on #132
It should be that the cat is stuck
It can't execute because there is no timeout
I set the default timeout to 30minutes, maybe it can be shorter (5 minutes?)

[2020-09-23 17:04] aschmahmann commented on #132
The issue seems to be:

https://github.com/ipfs/ipfs-update/blob/99d6de944a75da561824888e4c73d9d2d43c7174/util/utils.go#L103-L106

If `ipfs cat` fails then we just return instead of falling back to HTTP

[2020-09-23 17:23] godcong commented on #132
Yes, and because there is no timeout, there will be a long pause

[2020-09-24 09:03] sigma67 commented on #132
30 minutes is definitely too long of a timeout.

[2020-09-25 07:24] godcong commented on #132
Is 5 minutes or 3 minutes better?

[2020-09-25 07:31] godcong commented on #75
Does it mean something like these `if runtime.GOOS == "windows"` ?
Need to be changed to `// +build windows` flag?

[2020-09-25 07:58] sigma67 commented on #132
That's more reasonable, but the user should still be informed about it. Stalling for 3 minutes without notification what's going on is a no-no. Perhaps there's some way to display download progress? Or show a message "attempting download using the local IPFS node" ?

[2020-10-27 14:59] #132 closed

[2020-12-05 06:54] indexroot commented on #131
`➜  ~ ipfs-update --verbose versions
  - fetching "/ipns/dist.ipfs.io/go-ipfs/versions"
  - using local ipfs daemon for transfer
ERROR: failed to query versions:  cat: could not resolve name`

[2020-12-07 04:59] Stebalien commented on #131
The GFW blocks DNS resolutions for ipfs.io. You'll need to either use a VPN or hardcode the IPFS path. For now, `ipfs-update --distpath=/ipfs/QmNUJHKXfGmor8wvAVWZQdXVQRkdDL9VofG4ytssSqLzjP` should work. However, you'll need to change the `--distpath=` part every time a new version is released.

[2020-12-31 23:23] gammazero commented on #26
The problem is not the name of the FreeBSD port [ipfs-go](https://www.freshports.org/sysutils/ipfs-go/), but the name of the binary installed by that port (`/usr/local/bin/ipfs-go`) versus the name of the binary installed/upgraded by `ipfs-update` (`/usr/local/bin/ipfs`).

The reason the FreeBSD port installs the binary as `ipfs-go` is to avoid the conflict with the `/sbin/ipfs` utility on FreeBSD

[2021-04-02 06:03] gammazero commented on #75
Home directory [expansion](https://github.com/ipfs/go-ipfs/blob/master/repo/fsrepo/migrations/ipfsdir.go#L35) and home directory [determination](https://github.com/ipfs/go-ipfs/blob/master/repo/fsrepo/migrations/ipfsdir.go#L42) are now done using the [`github.com/mitchellh/go-homedir`](https://github.com/mitchellh/go-homedir) package.

[2021-06-09 18:58] renich opened #144 "Add latest version"
I am writing a simple Howto article for people to get around installing `ipfs-update`. The article will be outdated as soon as the version goes beyond v1.7.1.

It would be really cool to be able to tell people to download to just: `curl -O https://dist.ipfs.io/ipfs-update/latest/ipfs-update_linux-amd64.tar.gz`

I mean, just a symlink to the latest one; created at CD time?

That would rock. My arti

[2021-08-01 08:27] 0zAND1z commented on #105
So this repeated again today when I was setting up a new IPFS node:

![Screenshot from 2021-08-01 13-51-04](https://user-images.githubusercontent.com/11145839/127764480-1bd5aea7-2529-42d4-bcb4-5c7629c63bf2.png)

In the interest of reducing dependency on a single gateway, I have a suggestion:
Let us have a list of "trusted" fallback gateways such as `dweb.link` in case `ipfs-update` fails to dial t

[2021-08-01 11:40] 0zAND1z opened #145 "Support for custom IPFS gateways"
* **Motivation:**
I was setting up a new IPFS server today. Usually, I prefer installing the latest binary through `ipfs-update`, because it is easy to patch new updates and migrate fs repos. For the past few days, I have experienced some disruption with the main IPFS gateway. Here's the console output:
[code]

After digging around a little bit, I discovered a similar issue was filed some time bac

[2021-08-02 15:28] #145 closed

[2021-11-04 23:25] steakknife commented on #144
Seriously. I don't want to have to write a script to scrape the web page.

[2021-11-22 10:13] galargh opened #149 "flaky test: t0030-install.sh ('ipfs-update install' works when something is installed)"
#### Version information:
I have spotted the flakiness on this commit: https://github.com/ipfs/ipfs-update/commit/10bb4f2f99cd82c80db647bc0e3c2d77f9c33b67

#### Description:
During sharness tests execution with go 1.16 on https://github.com/ipfs/ipfs-update/pull/148, the first run failed (https://github.com/ipfs/ipfs-update/runs/4284444522?check_suite_focus=true) and the rerun passed (https://gith

[2021-12-19 17:45] overpi opened #151 "Update to v0.12.0-rc1 fails during blockstore migration"
[code]
I'm not sure what this particular CID might be, but its existence seems to be tested for during blockstore migrations:

[https://github.com/ipfs/ipfs-update/blob/10bb4f2f99cd82c80db647bc0e3c2d77f9c33b67/test-dist/testnew.go#L340](https://github.com/ipfs/ipfs-update/blob/10bb4f2f99cd82c80db647bc0e3c2d77f9c33b67/test-dist/testnew.go#L340)

[2021-12-19 21:27] overpi commented on #151
I discovered the source of the problem.  The test function is looking for the Qm hash and v0.12.0-rc1 only outputs the base58 hashes... bafy...

Tested by pausing the installation before the end of the script.

[code]

Outputs the expected QmTFJQ68kaArzsqz2Yjg1yMyEA5TXTfNw6d9wSFhxtBxz2

And:

[code]

So, the script will probably function if there is a test for which version is being installed.  If

[2021-12-28 06:22] Stebalien opened #152 "Incorrectly formatted API string for unix API paths"
go-ipfs can listen on a unix domain socket but the current fetcher logic can't deal with this.

See https://github.com/ipfs/go-ipfs/blob/4d94e19019137fa40f298d633f63d722c70d50eb/cmd/ipfs/main.go#L277-L291.

[2021-12-28 06:31] Stebalien commented on #151
@overpi does https://github.com/ipfs/ipfs-update/pull/153 fix it?

[2021-12-31 13:57] jbenet opened #154 "Hanging while downloading"
#### Version information:
ipfs

#### Description:

- getting some hangs when installing.
- could be an http gateway?
- shouldn't happen though -- `ipfs-update` should probably make use of ipfs properties and route around broken gateways

#### Command Output:

[code]

[code]

hang

[code]

hang
[code]
hang

[2021-12-31 15:39] aschmahmann commented on #154
Yes, it's possible to try additional gateways here. However, unfortunately CAR export from gateways is not standardized yet. Although a promising proposal to enable this which is being looked into in the coming year is https://github.com/ipfs/go-ipfs/issues/8234. Until then this means that using HTTP Gateways likely involves some trust so we can't just grab any arbitrary gateway off of https://ipf

[2022-01-06 16:52] BigLep commented on #151
2022-01-06 discussion:
1. We need a sharness test for this.
 - Ideally in the sharness, we want to dynamically fetch the latest.
2. Potentially don't go back in the past for sharness.

[2022-02-22 22:29] slrslr opened #160 "504 Gateway Time-out downloading update"
#### Version information:
ipfs-update version 1.8.0-dev

#### Description:
I have no IPFS so i have downloaded today the ipfs-update and ran:
ipfs-update install latest
[code]

i have small doubt it is due to my connectivity, on second attempt it worked but i think maybe you want to check this or eventually make that error output more pretty? This is terminal, not a web browser for html code.

[2022-03-14 05:36] LeDechaine commented on #50
This bug is back. Fix:

# /tmp/ipfs-update441531582/ipfs-new version
ipfs version 0.12.0
# ipfs --version
ipfs version 0.11.0
# whereis ipfs
ipfs: /usr/local/bin/ipfs
**# mv /tmp/ipfs-update441531582/ipfs-new /usr/local/bin/ipfs**
# wget https://dist.ipfs.io/fs-repo-migrations/v2.0.2/fs-repo-migrations_v2.0.2_linux-amd64.tar.gz
# tar -xvf fs-repo-migrations_v2.0.2_linux-amd64.tar.gz
fs-repo-migrat

[2022-03-16 07:33] LeDechaine commented on #50
**Augh**, apologies. I thought I had installed it recently, but didn't. It needed to be updated and (ipfs-update) doesn't update itself (yet). I upgraded to the latest version and it (appears) to work ok now.

Still, I hope my comment will help others who haven't updated (...ipfs-update) yet and got this cryptic "QmTFJQ68kaArzsqz2Yjg1yMyEA5TXTfNw6d9wSFhxtBxz2" error, because a few weeks ago even g

[2022-05-05 02:27] jbenet commented on #50
- I just ran into this problem while updating an old node from `0.8.0 -> 0.12.10`
- here's a trace https://ipfs.io/ipfs/QmVD9SNMjkXueoBTXtwyi7u3cfeggi5r4pPFT8ZwrMvicC
- @LeDechaine's fix worked for me (thank you! 🙏 )

[2022-06-12 03:15] SethranKada commented on #81
I'm having this issue too. Same error, though I'm using Fedora 36. I'm new to Linux and I don't know what to do to fix this.

[2022-06-24 16:28] placer14 opened #163 "On update to a different version, check perms FS perms first and fail early"
As a user, I would like for permissions to be checked at the beginning (by moving old binaries aside to validate RW privs, for example, which could be restored on failure or deleted on success).

IPNS/IPFS interactions are still slow and can be flaky. This would alleviate the long wait between IPNS/IPFS resolution and the attempt to interact with the FS and failing.

[2022-06-24 16:38] placer14 opened #164 "Migration failure suggests update failed, but latest version was left in-place"
#### Version information:
v0.10.0

#### Description:

Attempting to update IPFS from v0.10.0 to v0.13.0. using `ipfs-update` v0.10.0 (installed via `GO111MODULE=on go get github.com/ipfs/ipfs-update`). This produced a few errors which suggests failure but actually worked.

The failures include:
- unable to access ipfs binary (didn't seem to update binary)
- unable to acquire repo lock (left the ne

[2022-09-16 20:19] ChristianGrieger opened #168 "ERROR: test refs list: expected to see QmTFJQ68kaArzsqz2Yjg1yMyEA5TXTfNw6d9wSFhxtBxz2 in the local refs!"
Could someone help me to update? I get the following error:

[code]

Thank you!